<div class="app">
    <div class="container has-text-centered is-fluid lobby">
        <div>
            <h1 class="title">Waiting for more players to connect</h1>
        </div>
        <div>
            <p class="subtitle">Players joined:</p>
            <span>{{players}} / {{maxPlayers}}</span>
            <br/><br/>
            {{#if playButtonAvailable}}
                Hi
            {{else}}
                <span class="icon is-medium loader"></span>
            {{/if}}
        </div>
    </div>
</div>
